body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav-list li {
  margin-right: 20px;
}

.editor-container {
  width: 80%;
  margin: 50px auto;
}

.editor-text {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 300px;
}

#saveTextButton {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
}

/* Styling for the document selection pop-up */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

/* Additional styles for the pop-up can be added here */


.search-highlight {
  background-color: yellow;
}


.clickable-word {
  cursor: pointer;
  padding: 2px;
  transition: background-color 0.3s ease;
}
.clickable-word:hover {
  background-color: #dcdcdc;
}
.highlighted-word {
  background-color: lightgreen;
}
